<div class="panel-footer">
  <div class="text-center text-success">
    <p>Created by Monika Malinowska</p>
  </div>
  <div class="pull-right text-success">
    <%= link_to "Panel administracyjny", '/admin/login', :method => 'get' %>
  </div>

</div>
